@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-image 0.3s ease-in-out;
  max-height: 100vh;
  overflow-y: scroll;
  /* overflow-y: scroll;
  box-sizing: border-box; */
}

body {
  height: 100vh !important;
}

@keyframes animated-progress {
  0% {
    width: 0;
    background-color: #fff;
  }
  10% {
    width: 20%;
    background-color: #fff;
  }
  50% {
    width: 30%;
    background-color: #fff;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}
